body {
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    position: relative;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url('./background.jpg');
    background-position: center;
    background-repeat: repeat;
}

header, footer {
    text-align: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    position: relative;
    z-index: 10;
}
img
{
    max-width: 100%;
    max-height: 40vh;
    border-radius: 10px;
    border: 1px solid rgb(66, 66, 66);
}

h1 {
    font-family: 'Arial', sans-serif;
    color: #e74c3c;
}

#main-message-title
{
    color: white;
    text-align: center;
    text-shadow: black 4px 1px;
}

#main-message-next-button
{
    background-color: #e74c3c;
    border: 0;
    padding-top: 2%;
    padding-bottom: 2%;
}

.hearts-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    overflow: hidden;
    pointer-events: none;
}

#main-message {
    background: rgba(83, 81, 82, 0.128);
    backdrop-filter: blur(10px);
    width: 75vw;
    padding: 2vw;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.heart {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #e74c3c;
    transform: rotate(45deg);
}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #e74c3c;
    border-radius: 50%;
}

.heart::before {
    top: -5px;
    left: 0;
}

.heart::after {
    left: 5px;
    top: 0;
}

#image-galery
{
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
#image-container
{
    background-color: rgb(66, 66, 66);
    padding: 5%;
    border-radius: 10px;
    height: 50vh;
    overflow-y: scroll;
}
h3
{
    color: white;
    margin-bottom: 0;
}
.image-holder
{
    background-color: rgb(30, 30, 30);
    border-radius: 10px;
    padding: 10%;
    margin: 5%;
    text-align: center;
}
#secret-gift
{
    display: none;
    background-color: rgb(66, 66, 66);
    width: 75vw;
    height: 50vh;
    place-items: center;
    text-align: center;
}